<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-1">
    <upvote *ngIf="isAuthenticated()" (vote)="toggleVote(session)" [count]="session.voters.length" [voted]="userHasVoted(session)"></upvote>
  </div>
  <div class="col-md-10">
    <collapsible-well (contentToggled)="handleContentToggled(session.name, $event)">
      <div title>
        {{session.name}}
        <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color: red;"></i>
      </div>
      <div details>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br />
        <span>Level: {{session.level}}</span><br />
        <span>No. of Voter: {{session.voters.length}}</span>

        <p>{{session.abstract}}</p>
      </div>
    </collapsible-well>
  </div>
</div>